<style>
body {
  background-image: url(https://images.pexels.com/photos/6966/abstract-music-rock-bw.jpg?auto=compress&cs=tinysrgb&dpr=1&w=500);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
  color: black;
}
a:link, a:visited {
  background: transparent;
  color: blue;
  text-decoration: none;
}
a:hover {
  font-weight: 700;
  color: white;
}
</style>

<h1><%= @music_store.name %></h1>
<h2>Instruments</h2>
<p><% @instruments.each do |instrument| %></p>
<h3><%= link_to instrument.kind, "/instruments/#{instrument.id}" %></h3>
  <h4>Store number: <%= instrument.music_store_id %></h4>
  <h4>Cost: $<%= instrument.cost %></h4>
  <% if instrument.rent_to_own == true %>
  <h4> Rent to own available </h4>
  <% else %>
  <h4> Rent to own unavailable </h4>
  <% end %>
<% end %>

