<style>
body {
  background-image: url(https://cdn-resources.ableton.com/resources/filer_thumbnails/af/4e/af4e549b-fca2-43c0-9fa0-1f1e085236d8/drum_booth.jpg__600x600_q85_crop_subsampling-2_upscale.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: black;
  text-align: center;
}
</style>

<h1><%= @music_store.name %></h1>
<h3>Store number: <%= @music_store.id %></h3>
<% if @music_store.rents == true %>
<h3>Yes We Rent!!!</h3>
<% else %>
<h3>No Rentals<h3>
<% end %>
<h3>Lesson cost: $<%= @music_store.lesson_cost %></h3>


