<h2><%= "#{@auto_dealership.name}" %></h3>
  <ol>
    <p><%= "Location: #{@auto_dealership.city}, #{@auto_dealership.state}" %></p>
    <p><%= "Preowned Sales: #{@auto_dealership.preowned_sales}" %></p>
    <p><%= "Foreign Inventory: #{@auto_dealership.foreign_inventory}" %></p>
  </ol>
