<h1>Sports. Music. Engines.</h1><br>

<h3>Where They Eat Wings and Wear Superbowl Rings</h3>
<ul>
  <p><a href="/parent_name_here">When Touchdowns Happen Here</a> | <a href="/parent_name_here"> We Dance in the Endzone</a></p>
</ul><br>

<h3>Gibson Guitars and all other instruments from here to Mars.</h3>
<ul>
  <p><a href="/musicstore">You Have to Give a Little (Money) Here</a> | <a href="/instruments">To Make Some Magic With These</a></p>
</ul><br>

<h3>Pedals and Metals</h3>
  <ul>
    <p><a href="/auto_dealerships">Where You Can Get</a> | <a href="/automobiles">The Vroom Vrooms</a></p>
  </ul>
